

:root {
    --bg-color: #D73135;
    --text-color: #ffffff;
    --hover-color: #FFDB58;
    --background: rgba(0, 0, 0, .3);
    --boxshadow: 30px 30px 40px rgba(0, 0, 0, .3),
    -30px 30px 40px rgba(0, 0, 0, .3);
    --text-shadow: 3px 3px 3px rgba(0, 0, 0, .8);
    --tab-width: 900px;
}

html {
    scroll-behavior: smooth;
}

*{
    min-width: 0;
    text-decoration: none;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    width: 100%;
    background-image: url(../images/lvl3helm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'impact';
    font-weight: normal;

    
    /*had backdrop-filter: saturate(2.5); in body tag causing 
    header to not stay in fixed position*/
}

/*Default States for <TAGS> + animations/transitions*/


ul,
li{
    list-style-type: none;
    padding: 0;
}

.fade-in{
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.active{
    color: #808080;
}

h1{
    font-size: 2.5em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: normal;
}

h2 {
    padding: 1rem 3rem;
}

p{
    padding: 1rem 3rem;
    font-size: 1.2em;
    font-weight: lighter;
}

a{
    padding: 0 1em;
}

a,
button{
    all: unset;
    cursor: pointer;
}

a:hover,
#discord:hover,
#twitch:hover,
#chat:hover,
li:hover,
#myBtn:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.15);
    color: #FFDB58;
}

/*Default States for <TAGS> + animations/transitions*/


/*Banner Start*/

.banner{
    max-width: 900px;
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;
    background-size: 25%;
    padding-bottom: 1em;
}

.banner-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.banner-img{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.banner-img img{
    width: 50%;
    filter: drop-shadow(16px 16px 10px black);
}

.banner-text {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}

.banner-text img{
    width: 50%;
}

/*Banner End*/

/*Side Nav Start*/

#mySidenav.sidenav{
    height: 100%;
    margin: 0;
    width: 60%;
    position: fixed; 
    z-index: 2000; 
    top: 0; 
    left: -100%;
    background-color: rgba(0, 0, 0, .9);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

.sidenav-content{
    height: 80%;
}

.sidenav a,
.sidenav ul,
.sidenav p{

    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.3s;
    padding: .5em;
}

#side-logo{
    max-width: 40%;
    padding: .5em;
}

.closebtn{
    padding: 0;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*Side Nav End*/

/*Header Start*/

#home{
    position: relative;
    top: -150px;
    z-index: 998;
    width: 100%;
    max-height: 140px;
}

header{
    text-transform: uppercase;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 140px;
    background-color: rgba(0, 0, 0, 1);
    list-style: none;
    padding: 1em;
}

.logohbmenu{
    display: flex;
    justify-content: flex-start;
}

.logohbmenu button{
    background: transparent;
    border: none;
    width: 100%;

}

.logohbmenu button img{
    max-width: 6em;
    transition: all .2s ease-in-out; 
}

.logohbmenu button img:hover{
    transform: translatex(4px);
}

.logohbmenu button img:active{
    transform: scale(1.5);
}

img#hbmenu{
    display: none;
    max-height: 34px;
    border-radius: 25%;
}

#logo{
    max-height: 140px;
}

.navbar{
    width: 60%;
    justify-content: flex-start;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact{
    display: flex;
    justify-content: flex-end;
}

.fa{
    padding-right: 1.2em;
    font-size: 1em;
}

.fa-discord:before{ 
    padding-right: 1.2em;
    font-size: 1em;
}

/*Header End*/

/*Main Start*/

main{
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.8);
    clip-path: inset(0px -15px 0px -15px);
    background-color: rgba(0, 0, 0, .8);
    background-repeat: repeat-y;
}

.about{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 4em;
}

.about-text p{
    padding: 1rem 3rem 0 3rem ;
    font-weight: lighter;
}

#two{
    color: red;
}

#discord{
    text-transform: uppercase;
    color: #7289da;
}

#twitch{
    text-transform: uppercase;
    color: #6441a5;
}

#chat{
    text-transform: uppercase;
    color: red;
}

.about h1{
    padding: 0 3rem;
    padding-top: 3rem;
}

.read-more-button{
    height: 130px;
    display: flex;
    justify-content: center;
}

#myBtn{

    font-size: 1.5em;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
}

#more {display: none;}

/*Main End*/

/*Footer Start*/

footer{
    margin-top: auto;
    display: flex;
    text-transform: uppercase;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 1);
    align-items: center;
    flex-direction: row;
    padding: 2em;
}

.footer-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

footer p{
    padding: 1em 0;
    margin: 0 0;
    font-size: 1em;
    position: left;
    font-weight: normal;
}



/*#twitch-1hitbro iframe,
#twitch-froddoyo iframe{

}*/

.twitch-players{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5em 0;
}

.multi{
    max-width: 100%;
}


@media only screen and (max-width: 420px){

    
}

@media only screen and (max-width: 650px) {

    a.fa
    a.fa-discord{
        font-size: 1.5em;
        margin: 0;
    }

    .banner{
        display: none;
    }


    #logo{
        display: none;
    }

    .navbar{
        display: none;
    }

    img#hbmenu{
        display: block;
    }

    .read-more-button{
        height: 66px;
    }

    .flare{
        display: none;
    }

}

@media only screen and (max-width: 720px) {
    .menu-button-bar{
        font-size: 10px;
    }
}

@media only screen and (min-width: 1500px) {
    main{
        max-width: 1200px;
    }
}   
    .banner{
        max-width: 1200px;
    }



@media only screen and (min-width: 1800px) {
    main{
        max-width: 1500px;
    }
}   
    .banner{
        max-width: 1500px;
    }